os: osx
osx_image: xcode11.3
language: swift
env: 
  global:
  - LC_CTYPE=en_US.UTF-8
  - LANG=en_US.UTF-8
  - PROJECT=LocaleComplete.xcodeproj
  - IOS_FRAMEWORK_SCHEME="LocaleComplete"
  - MACOS_FRAMEWORK_SCHEME="LocaleComplete macOS"
  - WATCHOS_FRAMEWORK_SCHEME="LocaleComplete watchOS"
  - TVOS_FRAMEWORK_SCHEME="LocaleComplete tvOS"
  matrix:
  - DESTINATION="OS=13.0, name=iPhone 11 Pro Max"       SCHEME="$IOS_FRAMEWORK_SCHEME" SDK="iphonesimulator13.2"  
  - DESTINATION="OS=6.1,name=Apple Watch Series 5 - 44mm" SCHEME="$WATCHOS_FRAMEWORK_SCHEME" SDK="watchsimulator6.1" 
  - DESTINATION="arch=x86_64" SCHEME="$MACOS_FRAMEWORK_SCHEME" SDK="macosx10.15"
  - DESTINATION="OS=13.0,name=Apple TV"       SCHEME="$TVOS_FRAMEWORK_SCHEME" SDK="appletvsimulator13.2"
  
script:
  - set -o pipefail
  - xcodebuild -version
  
  - xcodebuild -project "$PROJECT" -list
  
  - xcodebuild -project "$PROJECT" -scheme "$SCHEME" -destination "$DESTINATION" -sdk "$SDK" -configuration Debug ONLY_ACTIVE_ARCH=NO build | xcpretty;
